<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="ProfileService" 
         connectionString="Data Source=.\SQLExpress;Integrated Security=SSPI;Initial Catalog=CustomProfiles;"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <profile defaultProvider="FactoredProfileProvider">
      <providers>
        <clear/>
        <add name="FactoredProfileProvider" type="FactoredProfileProvider" 
             connectionStringName="ProfileService" updateUserProcedure="Users_Update" 
             getUserProcedure="Users_GetByUserName"/>
      </providers>
      <properties>
        <add name="AddressName"/>
        <add name="AddressStreet"/>
        <add name="AddressCity"/>
        <add name="AddressState"/>
        <add name="AddressZipCode"/>
        <add name="AddressCountry"/>
      </properties>
    </profile>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
</configuration>
