<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="EveryoneRoleName" value="Everyone"/>
	</appSettings>
	<connectionStrings>
		<add connectionString="data source=(local)\SQLEXPRESS;Integrated Security=SSPI;initial catalog=aspnetdb" name="MySqlStore"/>
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add verb="GET,POST" path="*.txt" type="RolesDemo.Handlers.GenericHandler"/>
		</httpHandlers>
		<authorization>
			<deny users="?"/>
		</authorization>
		<roleManager cacheRolesInCookie="true" cookieName=".MyRolesCookie" defaultProvider="AspNetSqlRoleProvider" enabled="true">
			<providers>
				<add name="CustomSqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MySqlStore" applicationName="/"/>
			</providers>
		</roleManager>
		<authentication mode="Forms">
			<forms cookieless="UseUri"/>
		</authentication>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<membership>
			<providers>
				<add name="CustomSqlProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="MySqlStore" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear"/>
			</providers>
		</membership>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<security>
			<authorization>
				<remove users="*" roles="" verbs=""/>
				<add accessType="Allow" users="*" roles=""/>
			</authorization>
		</security>
		<modules>
			<remove name="UrlAuthorization"/>
			<remove name="FormsAuthentication"/>
			<add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" preCondition=""/>
			<add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" preCondition=""/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
