<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
  <!--<add name="CustomSqlConnection" connectionString="server=localhost\SQL2000;Trusted_Connection=yes;database=aspnetdb" />-->
  <add name="WebPartsTestConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;AttachDbFileName=|DataDirectory|WebPartsTest.mdf;User Instance=true"
   providerName="System.Data.SqlClient" />
  <add name="WebPartsTestConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\WebPartsTest.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<!--webParts>
			<personalization defaultProvider="MyProvider">
				<providers>
					<add name="MyProvider"
						 type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider"
						 connectionStringName="CustomSqlConnection" />
				</providers>
			</personalization>
		</webParts-->
		</system.web>

</configuration>
