<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
		<authentication mode="Windows" />  
    <compilation debug="true" targetFramework="4.0">
		</compilation>
  <authorization>
			<deny users="?"/>
		</authorization>
		<roleManager enabled="true" cacheRolesInCookie="false"
                     defaultProvider="WindowsRoles">
   <providers>
    <add applicationName="/" name="WindowsRoles" type="System.Web.Security.WindowsTokenRoleProvider" />
   </providers>
  </roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>