<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
    <profile defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider"
        type="System.Web.Profile.SqlProfileProvider"
        connectionStringName="SqlServices" />
      </providers>
      <properties>
        <add name="Address" type="Address" />
        <add name="FirstName" type="String"/>
        <add name="LastName" type="String"/>
        <add name="DateOfBirth" type="DateTime"/>
      </properties>
    </profile>
  </system.web>
   
  <connectionStrings>
    <add name="SqlServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;    
      AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" />
  </connectionStrings>
</configuration>







































