<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DemoSql" 
         connectionString="data source=(local)\SQLExpress;Integrated Security=SSPI;AttachDbFilename=|DataDirectory|ExtendedUser.mdf;User Instance=true"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
		<authentication mode="Forms"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
