<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true"
                               requireSSL="false"/>
        <roleService enabled="true"/>
        <profileService enabled="true"
                        readAccessProperties="FirstName,LastName,CustomerCode"
                        writeAccessProperties="FirstName,LastName"/>
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/LoginTest.aspx">
      </forms>
    </authentication>
    <roleManager enabled="true"/>
    <profile enabled="true">
      <properties>
        <add name="FirstName"/>
        <add name="LastName"/>
        <add name="CustomerCode"/>
      </properties>
    </profile>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
</configuration>
