<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" 
         connectionString="data source=(local)\SQLEXPRESS;Integrated Security=SSPI;initial catalog=aspnetdb" />
    <add name="MyMembershipConnString" 
         connectionString="data source=(local)\SQLEXPRESS;Integrated Security=SSPI;initial catalog=aspnetdb"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="pwd@apress.com">
        <network host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="login1.aspx" />
    </authentication>
    <profile>
      <properties>
        <add name="Firstname" />
        <add name="Lastname" />
        <add name="Age" type="System.Int16" />
      </properties>
    </profile>
    <!-- You must create a database using aspnet_regsql.exe and configure 
    the connectionString MyMembershipConnString appropriately before using 
    this custom membership provider -->
    <membership defaultProvider="MyMemberProvider">
      <providers>
        <add connectionStringName="MyMembershipConnString" enablePasswordReset="false"
             enablePasswordRetrieval="false" passwordFormat="Clear" requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false" name="MyMemberProvider" 
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
</configuration>
