<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings />
	<connectionStrings />
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
	</system.web>
</configuration>
