<?xml version="1.0" encoding="utf-8"?><ArrayOfSimpleRole xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><SimpleRole><RoleName>King Of Jungle</RoleName><AssignedUsers><string>George OftheJungle</string></AssignedUsers></SimpleRole><SimpleRole><RoleName>Lawman</RoleName><AssignedUsers><string>Quiet Urp</string></AssignedUsers></SimpleRole><SimpleRole><RoleName>Innocent</RoleName><AssignedUsers><string>Quiet Urp</string><string>Snow White</string><string>George OftheJungle</string></AssignedUsers></SimpleRole><SimpleRole><RoleName>Hun</RoleName><AssignedUsers /></SimpleRole><SimpleRole><RoleName>King Of Jungle</RoleName><AssignedUsers /></SimpleRole><SimpleRole><RoleName>King Of Jungle</RoleName><AssignedUsers /></SimpleRole><SimpleRole><RoleName>Hun</RoleName><AssignedUsers /></SimpleRole></ArrayOfSimpleRole>