<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Forms"/>
		<membership defaultProvider="XmlMembership">
			<providers>
				<add name="XmlMembership" applicationName="MyTestApp" 
             fileName="C:\Work\MyTestApp_Users.config" 
             type="APress.ProAspNet.Providers.APress.ProAspNet.Providers.XmlMembershipProvider, APress.ProAspNet.Providers" 
             requiresQuestionAndAnswer="true"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="XmlRoles">
			<providers>
				<add name="XmlRoles" applicationName="MyTestApp" fileName="C:\Work\MyTestApp_Roles.config" 
             type="APress.ProAspNet.Providers.APress.ProAspNet.Providers.XmlRoleProvider, APress.ProAspNet.Providers"/>
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
